<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sieve Analysis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDE7EFE91C4870F700177A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE7EFFD1C4870F800177A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDE7F0081C4870F800177A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
